 <nav class="menu no-print">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <svg class="svg-logo">
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">
          <tspan alignment-baseline="middle" text-anchor="middle">di</tspan>docu
        </text>
      </svg>
    </a>
    <ul class="menu-items">
      <li><a href="/vezagui/dashboard/">Panel</a></li>
      <li><a (click)="add()" class="nav-save-btn">Guardar</a></li>
    </ul>
  </div>
</nav> 

<div class="app">
  <form>
    <section>
      <div class="page">
        <div class="bar">
          <div class="inner">
            <div class="content">
              <div class="uptitle">
                <div class="col2 ">
                  <input type="text" value="FECHA">
                </div>
              </div>
              <header class="header">
                <div class="avatar">                  
                  <div class="image-container"><input type="file" accept="image/*"></div>
                  <div class="info">
                    <div class="title">
                      <div class="col2 ">
                        <textarea id="name" rows="3">JASON MARTIN BROWN GARCÍA</textarea>
                        <textarea id="profession" rows="2">DISEÑADOR GRÁFICO</textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="title">
                  <div class="col2">
                    <h1>EXPERIENCIA</h1>
                    <hr>
                    <table>
                      <tr>
                        <td class="c1">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="Vison multitune.net">
                              <input id="" type="text" value="2015 - 2018">
                            </div>
                          </div>
                        </td>
                        <td class="c2">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="SENIOR WEB DEVELOPER">
                              <textarea id="txa" rows="3" cols="34"
                                wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>

                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="c1">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="Soft Tech Lomited">
                              <input id="" type="text" value="2013 - 2015">
                            </div>
                          </div>
                        </td>
                        <td class="c2">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="LEAD WEB DEVELOPER">
                              <textarea id="txa" rows="3" cols="34"
                                wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                            </div>
                          </div>
                        </td>

                      </tr>
                      <tr>
                        <td class="c1">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="Creative Corporation">
                              <input id="" type="text" value="2011 - 2013">
                            </div>
                          </div>
                        </td>
                        <td class="c2">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="WEB & GRAPHIC DESIGNER">
                              <textarea id="txa" rows="3" cols="34"
                                wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                            </div>
                          </div>
                        </td>

                      </tr>
                      <tr>
                        <td class="c1">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="Vison multitune">
                              <input id="" type="text" value="2015 - 2018">
                            </div>
                          </div>
                        </td>
                        <td class="c2">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="" type="text" value="SENIOR WEB DEVELOPER">
                              <textarea id="txa" rows="3" cols="34"
                                wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>

                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </header>
              <section class="section1">
                <div class="info" style="margin-top: 1cm;">
                  <div class="title">
                    <div class="col2">
                      <h2>ACERCA DE MI</h2>
                      <div class="subtitle">
                        <div class="col2">
                          <textarea name="" id="about" rows="10">My name is Jason Martin lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eveniet repudiandae deserunt, eius accusantium nostrum asperiores voluptas minima distinctio unde ducimus molestias reiciendis vero. Voluptate quasi in animi provident veritatis.
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title" style="margin-top:5mm;">
                    <div class="col2">
                      <h2>CONTACTO</h2>
                      <div class="subtitle">
                        <div class="col2" id="reff">
                          <span>Dirección:</span>
                          <input type="text" value="Home Address, City Town, Country">
                          <span>Teléfono:</span>
                          <input type="text" value="+ 1234 567 889">
                          <span>Email:</span>
                          <input type="text" value="jasonMartin@mail.com">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="title" style="margin-top:1cm;">
                    <div class="col2">
                      <h2>REFERENCIAS</h2>
                      <div class="subtitle">
                        <div class="col2" id="reff">
                          <input type="text" id="rerName" value="JOHNS MICHAEL">
                          <input type="text" value="Director, Matrix media limited">
                          <span>Teléfono:</span><input type="text" value="+555 123 5566">
                          <span>Email:</span><input type="text" value="johnsMichael@mail.com">
                        </div>
                      </div>
                      <div class="subtitle">
                        <div class="col2" id="reff">
                          <input type="text" id="rerName" value="RYAN CURTIS">
                          <input type="text" value="Director, Matrix media limited">
                          <span>Teléfono:</span><input type="text" value="+555 123 5566">
                          <span>Email:</span><input type="text" value="ryanCurtis@mail.com">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="title" style="margin-top:2cm;">
                    <div class="col2 ">
                      <h1> EDUCACIÓN</h1>
                      <hr>
                      <table>
                        <tr>
                          <td class="c1">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="Asian University">
                                <input id="" type="text" value="2010 - 2015">
                              </div>
                            </div>
                          </td>
                          <td class="c2">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="BACHELORS OF ARTS">
                                <textarea id="txa" rows="3" cols="34"
                                  wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                              </div>
                            </div>
                          </td>

                        </tr>
                        <tr>
                          <td class="c1">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="Creative School">
                                <input id="" type="text" value="2008 - 2010">
                              </div>
                            </div>
                          </td>
                          <td class="c2">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="HIGHER SECONDARY EXAMINATION">
                                <textarea id="txa" rows="3" cols="34"
                                  wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                              </div>
                            </div>
                          </td>

                        </tr>
                        <tr>
                          <td class="c1">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="Creative School">
                                <input id="" type="text" value="2006 - 2008">
                              </div>
                            </div>
                          </td>
                          <td class="c2">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="HIGHER SECONDARY EXAMINATION">
                                <textarea id="txa" rows="3" cols="34"
                                  wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                              </div>
                            </div>
                          </td>

                        </tr>
                        <tr>
                          <td class="c1">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="Creative School">
                                <input id="" type="text" value="2004 - 2006">
                              </div>
                            </div>
                          </td>
                          <td class="c2">
                            <div class="subtitle">
                              <div class="col2">
                                <input id="" type="text" value="HIGHER SECONDARY EXAMINATION">
                                <textarea id="txa" rows="3" cols="32"
                                  wrap="soft">Porttitor amet massa Done cporttitor dolor et nisl molestie ium feliscon lore ipsum dolor tfringilla. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</textarea>
                              </div>
                            </div>
                          </td>

                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="title" style="margin-top:2cm;">
                    <div class="col2">
                      <h1>HABILIDADES</h1>
                      <hr>
                      <div class="info2">
                        <div class="skill">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="follow" type="text" value="PHOTOSHOP">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="80" (change)="change($event)" />
                              <input id="follow" type="text" value="ILLUSTRATOR">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="50" />
                              <input id="follow" type="text" value="INDESIGN">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="60" />
                            </div>
                          </div>
                        </div>
                        <div class="skill">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="follow" type="text" value="MS WORD">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="30" />
                              <input id="follow" type="text" value="MS EXCEL">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="50" />
                              <input id="follow" type="text" value="ANDROID">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="100" />
                            </div>
                          </div>
                        </div>
                        <div class="skill">
                          <div class="subtitle">
                            <div class="col2">
                              <input id="follow" type="text" value="COREL DRAW">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="30" />
                              <input id="follow" type="text" value="IOS">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="90" />
                              <input id="follow" type="text" value="DISEÑO WEB">
                              <input style="padding-left: 0;" type="range" name="range" id="range" min="0" max="100"
                                step="5" value="10" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </section>

            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="no-print" id="printBtn" onclick="window.print()">
      <img src="assets/Boton guardar.png" alt="" width="75" height="75">
    </div>

  </form>
</div>